//# Place all the behaviors and hooks related to the matching controller here.
//# All this logic will automatically be available in application.js.
//# You can use CoffeeScript in this file: http://coffeescript.org/


$(document).ready(function() {

  // $(document).on('submit', '#btn_cmt', function(e) {
  //   e.preventDefault();

  //   var postID = $(this).data('id');
  //   var thisComment = $("#comment_comment").val();

  //   $.ajax({
  //     type: 'post',
  //     beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  //     url: '/comments/',
  //     data: {
  //       comment: {
  //         post_id : postID,
  //         comment: thisComment
  //       }
  //     },
  //     success: function(response, status){
  //       if (status == 'success') {
  //         redrawTable(response);
  //       }
  //     },
  //     error: function(response, status) { 
  //       console.log("error");
  //       console.log(response);
  //       console.log(response.responseText); 
  //     }

  //   })
  // });

  var redrawTable = function(responseObject) {
    
    var comment = (responseObject.data.comment);
    var userEmail = (responseObject.email);
    //var userEmail = $('#current_email').text();
    console.log("in redrawtable");
    console.log(comment + userEmail);

    var myString = "<tr><td>" + comment + "</td><td>" + userEmail + "</td>";
    myString += "<td class=\"delete-btn\"><a ref=\"\">Remove</a></td></tr>";

    //$("#comments_list").prepend(myString);
    $(myString).prependTo($("#comments_list")).slideDown('slow');
    $("#comment_comment").val("");

  }

    $(document).on('click', '.delete-btn', function(e) {
      e.preventDefault();

      $(this).parent().fadeOut('slow', function(){});
    });



});

