//# Place all the behaviors and hooks related to the matching controller here.
//# All this logic will automatically be available in application.js.
//# You can use CoffeeScript in this file: http://coffeescript.org/


$(document).ready(function() {

  $(document).on('click', '.btn_cmt', function(e) {
    e.preventDefault();

    var postID = $(this).data('id');
    var thisComment = $("#comment_comment").val();

    $.ajax({
      type: 'post',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/comments/',
      data: {
        post_id : postID,
        comment: thisComment
      },
      success: function(response, status){
        if (status == 'success') {
          redrawTable(response);
        }
      },
      error: function(response, status) { 
        alert(response.responseText); 
      }

    })
  });

  var redrawTable = function(responseObject) {
    
    var comment = (responseObject.comment);
    var userEmail = $('#current_email').text();
    var string = "<tr><td>" + comment + "</td><td>" + userEmail + "</td></tr>";

    //$("#comment-table-body").prepend(string);
    $(string).prependTo($("#comment-table-body")).slideDown('slow');
    $("#comment_comment").val("");

  }


});

